
.title {
	display: block;
	width: auto;
	text-align: center;
}

.search-form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	border: 1px solid black;
	padding: 8px;
	text-align: left;
}

th {
	background-color: #f2f2f2;
	cursor: pointer;
}

.table-header-sort-dir {
	font-weight: normal;
	margin-left: 5px;
}

.search-result-footer {
	background-color: #f2f2f2;
	text-align: center;
}
