
.title {
	display: block;
	width: auto;
	text-align: center;
}

.search-form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.form__group {
	display: flex;
	padding: 5px;
}
form > div > label {
	display: block;
	min-width: 150px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	border: 1px solid black;
	padding: 8px;
	text-align: left;
}

th {
	background-color: #f2f2f2;
	cursor: pointer;
}

.table-header-sort-dir {
	font-weight: normal;
	margin-left: 5px;
}

.search-result-footer {
	background-color: #f2f2f2;
	text-align: center;
}

.button {
	font: bold 11px Arial;
	text-decoration: none;
	background-color: #EEEEEE;
	color: #333333;
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
}
.button:hover {
	background-color: #cccccc;
}
.button-disabled {
	font: bold 11px Arial;
	text-decoration: none;
	background-color: #EEEEEE;
	color: #333333;
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
}